<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加</title>
    <link href="../static/asserts/css/bootstrap.min.css" th:href = "@{/webjars/bootstrap/5.0.0-beta2/css/bootstrap.css}" rel="stylesheet">
    <link href="../static/asserts/css/index.css" th:href="@{/asserts/css/ht.css}" rel="stylesheet" type="text/css">
</head>
<body>
<form th:action="@{/adding}">
    <div class="form-group">
        <label for="exampleFormControlInput1">书名</label>
        <input type="text" class="form-control"  id="exampleFormControlInput1" name="title">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">作者</label>
        <input type="text" class="form-control"  name="author" >
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1" >类别</label>
        <input type="text" class="form-control"  name="categories">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1" >图片地址</label>
        <input type="text" class="form-control" name="img">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1" >价格</label>
        <input type="text" class="form-control" name="price">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">简介</label>
        <textarea class="form-control" name="intro"  id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-left:900px;margin-top:100px;width: 100px;height: 50px;">确定</button>
</form>

</body>
</html>