<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link href="../static/asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/5.0.0-beta2/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/asserts/css/signin.css" th:href="@{/asserts/css/signin.css}" rel="stylesheet">
</head>
<body class="text-center">
<form class="form-signin" th:action="@{/spsuccess}" >
    <img class="mb-4" src="../static/asserts/img/bootstrap-solid.svg" th:src="@{/asserts/img/bootstrap-solid.svg}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal" >注册</h1>
    <label class="sr-only" >用户名</label>
    <input type="text" name="username" class="form-control" placeholder="Username" required="" autofocus="">
    <label class="sr-only" >密码</label>
    <input type="password" name="password" class="form-control" placeholder="Password"  required="">
    <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
    <p class="mt-5 mb-3 text-muted">© 2021</p>
</form>

</body>
</html>